
<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h2>Welcome to Tourism Mangement Project</h2>
            <br>
            <p>      Our Website can get you what you want and in the minimal time. One of the best destination management companies in  India, it has the experience and infrastructure to handle any customer demand. In addition to destination management, and also plans corporate tours, incentive trips, college/school excursions, business travel, arranges car/railway & hotel bookings and much, much more.</p>
            <div class="home-img"> 
            <a href="#">
                <img src="assets/h_img3.jpg" alt="Tourist World" class="img-responsive">
            </a>
            
            </div>
            
        </div>
    </div>
</div>


